@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600&family=Roboto+Slab:wght@300;400;500;600;700&display=swap');

body {
  background: #f5f6fa;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#root {
  margin: 8% 0;
  width: 84%;
  background: #fafafa;
  border-radius: 4px;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.5);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 2% 5%;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 3em;
}

.navbar ul {
  display: flex;
  gap: 2em;
}

header img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 0.5px solid #e8e8e8;
  padding: 5%;
  cursor: pointer;
}

.line {
  height: 0.125em;
  border: 1px solid #e8e8e8;
}

.books-link,
.categories {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8em;
  letter-spacing: 1.9px;
  color: #f5f6fa;
}

.categories {
  opacity: 0.5;
}

.logo {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.9em;
  font-weight: bold;
  color: #0290ff;
}

.books {
  padding: 3% 5%;
}

.book {
  display: flex;
  margin-top: 1em;
  padding: 3%;
  padding-right: 7%;
  background: #fff;
  border: 0.5px solid #e8e8e8;
  border-radius: 5px;
}

.left-block {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 45%;
}

.book-info {
  display: flex;
  flex-direction: column;
}

.category {
  opacity: 0.5;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9em;
  font-weight: bold;
  color: #121212;
}

.title {
  font-family: 'Roboto Slab', serif;
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: -0.2px;
  color: #121212;
}

.author {
  font-family: 'Roboto Slab', serif;
  font-size: 0.9em;
  font-weight: 300;
  color: #4386bf;
}

button {
  border: none;
}

.list-btn {
  display: flex;
  gap: 1em;
}

form button {
  width: 18%;
  border-radius: 3px;
  background-color: #0290ff;
  font-family: 'Roboto Slab', serif;
  font-size: 0.8em;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-align: center;
  color: #fff;
}

.list-btn button {
  font-family: 'Roboto Slab', serif;
  font-size: 0.9em;
  font-weight: 300;
  color: #4386bf;
  background: transparent;
  cursor: pointer;
}

.right-block {
  display: flex;
  justify-content: space-between;
  width: 55%;
  align-items: center;
}

.reading-progress {
  display: flex;
  align-items: center;
  gap: 2em;
}

.progress {
  width: 5em;
  height: 5em;
  border-radius: 50%;
  border: 5px solid #307bbe;
  border-left-color: #e8e8e8;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.progress-percentage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.percentage {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.2em;
  color: #121212;
}

.completed {
  opacity: 0.5;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9em;
  color: #121212;
}

.vertical-line {
  width: 0.125em;
  height: 4.375em;
  border: 1px solid #e8e8e8;
  margin: 2%;
}

.current-chapter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
}

.heading {
  opacity: 0.5;
  font-family: 'Roboto Slab', serif;
  font-size: 0.9em;
  font-weight: 300;
  color: #121212;
}

.chapter {
  font-family: 'Roboto Slab', serif;
  font-size: 1em;
  font-weight: 300;
  letter-spacing: -0.4px;
  color: #121212;
}

.update-btn {
  width: 12em;
  border-radius: 3px;
  background-color: #0290ff;
  font-family: 'Roboto Slab', serif;
  font-size: 1em;
  font-weight: 300;
  letter-spacing: 0.5px;
  text-align: center;
  color: #fff;
  padding: 3%;
  cursor: pointer;
}

.form-section {
  display: flex;
  flex-direction: column;
  margin: 0 5% 20% 5%;
  gap: 2em;
}

.form-section hr {
  height: 0.125em;
  border: 1px solid #e8e8e8;
  margin-top: 1em;
}

.form-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3em;
  font-weight: bold;
  letter-spacing: -0.18px;
  color: #888;
}

form {
  display: flex;
  justify-content: space-between;
}

form input {
  height: 4em;
  border-radius: 4px;
  border: 1px solid #e8e8e8;
  width: 28%;
  padding-left: 0.5em;
}

form select {
  border-radius: 4px;
  border: 1px solid #e8e8e8;
  width: 20%;
  color: #888;
  padding-left: 0.5em;
}

.catego {
  margin-left: 5%;
}
